# LLM + Embeddings (Google)
langchain
langchain-google-genai
langchain-community
langchain-qdrant

# Vector Store
qdrant-client

# Scraping + Parsing
crawl4ai

# Utils
python-dotenv
boto3
botocore

# MCP Server
# fastmcp
# google-cloud-storage
# google-cloud-compute
# google-cloud-bigquery