# LLM + Embeddings (Google)
langchain
langchain-core
langchain-qdrant
langchain-community
langchain-google-genai
langchain-text-splitters
langchain-huggingface
sentence_transformers

# Vector Store
qdrant-client

# Scraping + Parsing
crawl4ai

# Utils
boto3
botocore
python-dotenv

# MCP Server
# fastmcp
# google-cloud-storage
# google-cloud-compute
# google-cloud-bigquery
